:root {
  --ion-color-primary: #65a30d;
  --ion-color-primary-rgb: 101, 163, 13;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #598f0b;
  --ion-color-primary-tint: #74ac25;

  --ion-color-secondary: #38bdf8;
  --ion-color-secondary-rgb: 56, 189, 248;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-shade: #31a6da;
  --ion-color-secondary-tint: #4cc4f9;

  --ion-color-tertiary: #e879f9;
  --ion-color-tertiary-rgb: 232, 121, 249;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-shade: #cc6adb;
  --ion-color-tertiary-tint: #ea86fa;

  --ion-color-warning: #fbbf24;
  --ion-color-warning-rgb: 251, 191, 36;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-shade: #dda820;
  --ion-color-warning-tint: #fbc53a;

  --ion-background-color: #fafaf9;
  --ion-text-color: #44403c;
}
